{# templates/booking/calendar.html.twig #}
{% extends 'front/base.html.twig' %}

{% block body %}
    <div class="container" {{ stimulus_controller('calendar') }}>
        <div class="row">
            <div class="col-lg-8" >
                <h1>Le calendrier</h1>
                <div {{ stimulus_target('calendar', 'calendar') }}
                data-events-url="{{ path('fc_load_events') }}"></div>
            </div>
            <div {{ stimulus_target('calendar', 'formWrap') }} class="col-lg-4">
            
            </div>
        </div>
    </div>
{% endblock %}