<tr>
    <th>{{ field_description.label }}</th>
    <td>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-default" href="{{ path('app_resend_password', {id: object.id}) }}" title="Régénerer un mot de passe et l'envoyer à l'utilisateur">Regénérer</a>
    {% else %}
    *******
    {% endif %}
    </td>
</tr>