{% extends "@SonataAdmin/CRUD/show.html.twig" %}

{%- block actions -%}
    {{ parent() }}
    <li>
        <a class="sonata-action-element" href="{{ path('app_workflow_edit', { id : object.id }) }}"><i class="fas fa-edit" aria-hidden="true"></i>
            Éditer
        </a>
    </li>

{%- endblock -%}