<tr>
    <th>{{ field_description.label }}</th>
    <td>
        {% if attribute(object,field_description.name) %}
            {{ sonata_thumbnail(attribute(object,field_description.name), 'small') }}
        {% endif %}
    </td>
</tr>