<form id="form-delete" method="post" action="{{ path('app_booking_delete', {'id': booking.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <button class="btn btn-danger mt-3">Supprimer</button>
</form>
