
<h2>Mettre à jour l'évènement</h2>

{{ form_start(form, {action: path('app_booking_edit', {id: booking.id}), attr:{id: 'form'}}) }}
{{ form_widget(form) }}
<button class="btn btn-success">Mettre à jour</button>
{{ form_end(form) }}

{{ include('front/booking/_delete_form.html.twig') }}

