{% extends "front/base.html.twig" %}

{% block title %}
    Notre blog
{% endblock %}
{% block body %}
<style>
    .dashboard-body > div:first-child {
        display: none !important;
    }
    .dashboard-row {
        width: 100%;
    }
    .dashboard-row > div {
        display: inline-block;
    }
    .dashboard-header > div {
        display: inline-block;
    }

</style>
<div class="container">
<h1>Réservations pour le spectacle "{{ show.name }}"</h1>
{% for i in insights %}
{{ i.html | raw }}
<p class="mt-5">
  Mis à jour le {{ i.createdAt | date("d/m/Y à H:i") }}
</p>
{% endfor %}
</div>
{% endblock %}
