$bannerHSize: 4rem;
$iconColor: #ff0000;

body {
  background-color: $light;
}

h1,
h2,
h3,
h4 {
  font-family: 'Cormorant Garamond', serif;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
}

h2.section-title {
  font-size: 2rem;
}

.btn-light {
  background-color: white;
}

.btn-outline-light {
  border-color: white;
}

.dark {
  color: white;
  background-color: black;
}

main>section,
footer {
  padding: 3rem 0 3rem;
}

.splide__slide {
  img {
    display: block;
    width: 100%;
  }
}

.offer-short {
  color: black;
  text-decoration: none;
}

.social-link {
  font-size: 2rem;
}

.blog-post {
  .blog-post-footer {
    font-style: italic;
  }
}

.date-card {
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: 3px;
  text-align: center;
  padding: 1rem 0;

  label {
    font-size: 1.2em;
    font-weight: bold;
  }

  ul {
    list-style: inside;
    list-style-type: circle;
    padding: 0;
    margin: 0;
  }

}


@media (min-width: 600px) {
  .slider-actions {
    position: absolute;
    bottom: 40px;
  }
}

footer {
  h4 {
    text-align: center;
    font-style: italic;
  }

  #footer-projects {
    li:not(:last-child) {
      border-bottom: 1px solid gray;
    }
  }

  ul {
    list-style: none;

    li {
      color: lightgray;
      padding: 1rem 0;
      margin: 0;

      i {
        color: $iconColor;
      }

      a {
        color: lightgray;
        text-decoration: none;
      }
    }
  }
}

hr {
  border: none;
  opacity: 1;
  text-align: center;

  &::before {
    content: url("../images/separator.png");
  }
}

.banner-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  text-shadow: 0 0 2rem black;
  flex-direction: column;
  text-align: center;

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  h3 {
    font-style: italic;
    font-size: 1.5rem;
  }

  @media (min-width: 600px) {
    h2 {
      font-size: $bannerHSize;
    }

    h3 {
      font-size: 2.5rem;
    }
  }
}

.gallery-show-item {
  h4 {
    font-style: italic;
  }

  &>* {
    margin-bottom: 1.5rem;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
}

.display-up {
  overflow: hidden;
}

.banner {
  position: relative;
  color: white;
  overflow: hidden;

  .banner-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    text-align: center;

    .row {
      height: 100%;
    }

    .banner-title {
      font-size: $bannerHSize;
    }
  }
}

.gallery-mosaic {
  .mosaic-item {
    position: relative;
    margin: 2rem 1.2rem;

    &:hover {
      .mosaic-text {
        opacity: 1;
      }
    }

    .mosaic-title {
      color: black;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: white;
      padding: 1rem;
      z-index: 10;
      margin: 0;
    }

    .mosaic-text {
      position: absolute;
      color: white;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 3rem 2rem;
      opacity: 0;
      transition: all 0.3s 0s ease-in-out;
    }

    .mosaic-image {
      display: block;
      width: 100%;
    }
  }
}

#artist-profile,
#show-profile {
  h1 {
    font-style: italic;
    font-size: 2rem;
    color: #b79c0d;
  }

  h2 {
    font-size: 1.3rem;
  }
}

.social-link {
  color: lightgray;
  text-decoration: none;

  &:hover {
    color: black;
  }
}

.thumbnail-nav-carousel {
  .splide__slide {
    opacity: 0.7;

    &.is-active {
      opacity: 1;
    }
  }
}

.show-poster {
  display: block;
  margin: 0 auto;
  width: 200px;
}

blockquote {
  background-color: #e4ffe0;
  padding: 2rem;
  border-left: 3px solid $green-200;
}

.popup {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  transition: all 0.5s linear;
  display: flex;

  &.displayed {
    opacity: 1;
    visibility: visible;

    .popup-wrap {
      transform: translateY(0);
    }
  }

  .popup-wrap {
    background-color: white;
    margin: auto;
    transform: translateY(50%);
    transition: transform 0.5s ease-in-out;
    padding: 3rem;
    border-radius: 0.7rem;
  }
}