<p>Cher Administrateur,</p>

<p>Le calendrier n'est plus synchronisé avec Google Agenda sur le site du bouffon. Nous vous invitons à intervenir à cette
adresse : {{ absolute_url(path('app_calendar_connect_to_google')) }}</p>

<p>Ceci est un message automatique, merci de ne pas y répondre.</p>