Bonjour {{ user.firstname }} {{ user.lastname }}, <br>
<br>
Dans le cadre de votre prochain spectacle, vous trouverez ci-joint le lien vers le formulaire vous permettant d'enregistrer (ou de reconfirmer) vos informations
<br>
<br>
<em><a href="{{ absolute_url(path('app_contract_informations')) }}">Accéder au formulaire</a></em>
<br>
<br>
Vous pouvez dès à présent y accéder. Nous vous enverrons ensuite le contrat associé dans les plus brefs délais.
<br>
<br>
À très bientôt,
<br>
<br>
Toute l'équipe du Bouffon Théâtre

